<h1>Welcome to Mr. Cocktail</h1>
<h2>Menu</h2>

<p><%= link_to "Create", new_cocktail_path %></p>
<% @cocktails.each do |cocktail| %>
<p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
<% end %>
