<h1>Welcome to Mr. Cocktail</h1>
<h2>Menu</h2>

<p><%= link_to "Create", new_cocktail_path %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <% @cocktails.each do |cocktail| %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      <% end %>

    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
